[Application]
name=SeansSuperList
version=0.9
# How to launch the app - this calls the 'main' function from the 'myapp' package:
entry_point=SeansList0:main
icon=myapp.ico

[Python]
version=3.7.6

[Include]
# Packages from PyPI that your application requires, one per line
# These must have wheels on PyPI:
pypi_wheels = pyyaml==5.3.1
    wxPython==4.1.0

# Other files and folders that should be installed
files =
